body {
  font-family: var(--font-family-sans-serif);
  color: #444444;
  font-weight: 500;
}

a {
  color: $resume-blue;

  &:hover {
    color: #3b8af2;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-sans-serif);
}

button:active,
button:focus {
  outline: unset;
}

.no-border {
  border: unset !important;
}

.underline-none {
  text-decoration: none !important;

  &:hover,
  &:active,
  &:focus, {
    text-decoration: none !important;
  }
}

.dropdown-toggle:after {
  content: unset !important;
}

.dropdown-menu.custom-position {
  transform: translate3d(441px, -50px, 0px) !important;
}

.dropdown-menu .dropdown-item {
  font-size: 20px;
  font-weight: 600;
  color: #262b33;

  & i {
    color: #3b8af2;
  }

  &:hover {
    color: #3b8af2;
  }

  &:active i,
  &:active {
    color: white;
  }
}

.autocomplete-input,
.resume-form-control {
  border-radius: 3px;
  padding: 11px 16px;
  width: 100%;
  font-size: 19px;
  display: block;
  caret-color: $resume-blue;
  background-color: $bg-color-gray;
  outline: none;
  border: 0;
  color: rgb(38, 43, 51);
  font-weight: 500;
  pointer-events: unset;
  transition: .3s width ease-in-out;
}

.form-group .line,
.ql-editor-line {
  height: 2px;
  width: 0;
  background-color: darkgray;
  border-radius: 3px;
  transition: .3s width ease-in-out;
  position: relative;
  top: -3px;
}

div[aria-owns="autosuggest-autosuggest__results"][aria-expanded="true"] + .line,
.resume-form-control:focus + .line,
.editor + .ql-editor-line {
  width: 100%;
  background-color: #02add7;
}

.line.line-red {
  width: 100%;
  background-color: $resume-red;
}

/*--------------------------------------------------------------
# Date picker start
--------------------------------------------------------------*/

.resume_date_picker {
  border-radius: 3px;
  padding: 11px 16px;
  width: 100%;
  display: block;
  caret-color: $resume-blue;
  background-color: $resume-bg-color-gray;
  outline: none;
  border: 0;
  color: rgb(38, 43, 51);
  pointer-events: unset;
  transition: .3s width ease-in-out;
}

.resume_calendar {
  padding: 16px 24px;
  box-shadow: $resume-box-shadow;
  background-color: $resume-bg-color-gray !important;
  border: unset !important;
  top: 55px;
  width: 350px !important;

  & header .month__year_btn {
    padding: 0 16px;
    font-size: 19px;
    font-weight: 700;
    line-height: 38px;
  }
}

.vdp-datepicker__calendar {
  & .cell {
    &:not(.blank):not(.disabled) {
      border-radius: 19px;
      font-weight: 700;
      border: unset !important;

      &.day:hover,
      &.month:hover,
      &.month:hover {
        color: $resume-blue;
        background-color: $resume-bg-color-gray-hover;
      }
    }

    &.selected {
      background-color: $resume-blue !important;
      color: rgb(222, 238, 252);
      border-radius: 19px;
      font-weight: 700;
      border: unset !important;

      &:not(.blank):not(.disabled) {
        &.day:hover,
        &.month:hover,
        &.month:hover {
          background-color: $resume-blue !important;
          color: rgb(222, 238, 252);
        }
      }
    }

  }
}

/*--------------------------------------------------------------
# Date picker end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# select start
--------------------------------------------------------------*/
select {
  &.resume-form-control {
    padding-right: 40px;

    & + i.fa {
      float: right;
      margin-top: -30px;
      margin-right: 0;
      pointer-events: none;
      background-color: $resume-bg-color-gray;
      padding-right: 15px;
    }

    & > option {
      font-size: 18px;
      font-weight: 500;
    }
  }

  &:active + i.fa + .line,
  &:focus + i.fa + .line {
    width: 100%;
    background-color: #02add7;
  }
}

/*--------------------------------------------------------------
# select end
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# autocomplete start
--------------------------------------------------------------*/
.autocomplete {
  &:after {
    content: "";
    height: 2px;
    width: 0;
    background-color: darkgray;
    border-radius: 3px;
    transition: 0.3s width ease-in-out;
    position: absolute;
    bottom: 0;
  }

  &[data-expanded="true"]:after {
    width: 100%;
    background-color: #02add7;
  }
}

.autocomplete-input[aria-expanded="true"] {
  background: $resume-bg-color-gray;
  outline: none;
  box-shadow: $resume-box-shadow;
}

[data-position="below"] .autocomplete-input[aria-expanded="true"] {
  border-bottom-color: transparent;
}

[data-position="above"] .autocomplete-input[aria-expanded="true"] {
  border-top-color: transparent;
  z-index: 2;
}

.autocomplete-result-list {
  font-weight: 500;
  margin: 0;
  text-align: left;
  position: absolute;
  z-index: 10;
  width: 100%;
  border-top: 0;
  background: $resume-bg-color-gray;
  overflow-y: auto;
  box-shadow: $resume-box-shadow;
  list-style: none;
  padding-left: 0;
  max-height: 300px;

  &::-webkit-scrollbar-track {
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c7c9d3;

    &:hover,
    &:focus {
      background-color: $resume-bg-color-gray-hover;
    }
  }
}

[data-position="below"] .autocomplete-result-list {
  margin-top: 3px;
  border-top-color: transparent;
  padding-bottom: 8px;
}

[data-position="above"] .autocomplete-result-list {
  margin-bottom: -1px;
  border-bottom-color: transparent;
  padding-top: 8px;
}

.autocomplete-result {
  cursor: pointer;
  padding: 11px 16px;

  &:hover,
  &[aria-selected="true"] {
    background-color: $resume-bg-color-gray-hover;
    color: $resume-blue;
  }
}

@keyframes rotate {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(359deg);
  }
}

/*--------------------------------------------------------------
# suggestion end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# upload avatar start
--------------------------------------------------------------*/
.vue-image-crop-upload .vicp-wrap .vicp-operate a {
  color: $resume-blue !important;
}

/*--------------------------------------------------------------
# upload avatar end
--------------------------------------------------------------*/

.social-icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;

  &.facebook {
    color: #3b5997;
  }

  &.google {
    color: #db4a39;
  }
}

.share-social {
  display: inline-block;
  padding: 10px;
  margin-right: 8px;
  border: 1px solid rgb(221, 227, 240);
  border-radius: 50%;
  transition: border-color 0.2s ease 0s, background-color 0.2s ease 0s;
  cursor: pointer;
  text-align: center;

  & .facebook {
    color: #3b5997;
  }

  & i {
    display: block;
    width: 20px;
    height: 20px;
    padding-top: 2px;
  }

  &.facebook:hover {
    background-color: #3b5997;
    & .facebook {
      color: white;
    }
  }
}

.modal {
  &-header.custom-padding {
    padding: 1rem 2rem !important;
  }
  &-body.custom-padding {
    padding: 2rem !important;
  }
  &-footer.custom-padding {
    padding: 0 2rem 2rem !important;
  }
}


