/*--------------------------------------------------------------
# Resume editor start
--------------------------------------------------------------*/
@import "elements/_default.scss";

.rf-section {
  margin-bottom: 40px;

  &__title {
    position: relative;
    margin-right: 4px;
    min-width: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 28px;
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;

    & a.rf-section__edit,
    & a.rf-section__delete {
      opacity: 0;
    }

    &:hover a.rf-section__edit,
    &:hover a.rf-section__delete {
      opacity: 1;
    }
  }

  &__sub-title {
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: $resume-gray;
    margin-bottom: 8px;
  }

  &__edit,
  &__confirm,
  &__cancel,
  &__delete {
    font-size: 18px;
    color: $resume-gray;
  }

  &__edit-lg,
  &__confirm-lg,
  &__cancel-lg,
  &__delete-lg {
    font-size: 21px;
    color: $resume-gray;
  }

  &__edit-xl,
  &__confirm-xl,
  &__cancel-xl,
  &__delete-xl {
    font-size: 26px;
    color: $resume-gray;
  }

  &__edit.hover {
    opacity: 0;
  }


  &__confirm:hover,
  &__confirm-lg:hover,
  &__confirm-xl:hover {
    color: $resume-green;
  }

  &__edit:hover,
  &__edit-lg:hover,
  &__edit-xl:hover {
    color: $resume-blue;
  }

  &__delete:hover,
  &__delete-lg:hover,
  &__delete-xl:hover,
  &__cancel:hover,
  &__cancel-lg:hover,
  &__cancel-xl:hover{
    color: $resume-red;
  }

  &__draggable {
    position: absolute;
    left: -15px;
    top: 40%;
    margin-right: 2px;
    margin-top: -10px;
    font-size: 15px;
    flex-shrink: 0;
    color: rgb(184, 190, 204);
    transition: opacity 0.15s ease 0s;
    cursor: move;
  }
}

.resume__left-block {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 50%;
  min-height: 100vh;
}

.resume__form {
  width: 100%;
  max-width: 100%;
  flex: 1 1 0;

  & .form__content {
    flex: 1 1 0;
    max-width: 860px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: auto;
  }
}

.rf-padding {
  padding: 48px;
}

.rf-title {
  font-size: 32px;
  line-height: 34px;
  text-align: center;
  position: relative;
  margin-bottom: 2px;
  //padding: 0px 32px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 58px;

  &:hover .rf-section__edit.hover {
    opacity: 1;
  }
}

.rf-progress {
  display: block;
  user-select: none;
  height: 71px;
  margin-bottom: 12px;
  position: relative;
}

.rfp-item {
  display: block;
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 16px;
  top: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 2;

  & .rfp-content {
    display: flex;
    flex-flow: row nowrap;
  }
}

.rfp-left {
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  color: rgb(152, 161, 179);
}

.rfp-right {
  display: flex;
  flex: 1 1 0%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.rfpr-text {
  position: relative;
  flex: 1 1 0;
  overflow: hidden;
}

.rfpr-text-enter {
  text-align: right;
  white-space: nowrap;
  font-size: 16px;
  line-height: 20px;
  color: rgb(152, 161, 179);
  cursor: pointer;
  transition: opacity 0.4s ease 0s, transform 0.4s ease 0s;
  opacity: 1;
  transform: translateY(0px);
}

.rtpr-tip {
  width: 26px;
  height: 20px;
  margin-left: 16px;
  position: relative;
  bottom: 2px;
  cursor: pointer;
  transition: background-color 0.1s ease 0s;

  &.rtpr-tip-green {
    color: $resume-green;

    &:hover,
    &:active,
    &:focus {
      color: $resume-blue;
    }
  }
}

.rfp-content-bar {
  height: 3px;
  background-color: rgb(242, 245, 250);

  & .bar {
    height: 3px;
    width: 10%;

    &-red {
      background: $resume-red;
    }

    &-green {
      background: $resume-green;
    }

    &-yellow {
      background: $resume-yellow;
    }
  }
}

.percentage {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-right: 6px;

  &.green {
    color: $resume-green;
  }

  &.yellow {
    color: $resume-yellow;
  }

  &.red {
    color: $resume-red;
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.additional-detail {
  &-hide {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.2s ease 0s, opacity 0.2s ease 0s;
  }

  &-show {
    height: auto;
    opacity: 1;
    overflow: visible;
  }
}


.list-section {
  position: relative;
  left: -4px;
  display: flex;
  flex-flow: row wrap;

  &-item {
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 12px;
    width: calc(50% - 32px);
    flex: 0 0 calc(50% - 32px);
    margin-right: 32px;
    cursor: pointer;
    color: rgb(38, 43, 51);
    font-size: 22px;

    & i.fas,
    & i.fa {
      font-size: 30px;
    }

    &.active {
      cursor: alias;
      color: rgb(152, 161, 179);
    }
  }
}

@media (min-width: 1280px) {
  .top_pdf {
    position: absolute;
    top: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  button.btn.angle-r,
  button.btn.angle-l {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: rgb(255, 255, 255) !important;
    border-radius: 14px;
    background-color: rgba(15, 20, 31, 0);
    transition: background-color 0.1s ease 0s;
    padding: 0 10px !important;
  }
  button.btn.angle-r:hover,
  button.btn.angle-l:hover {
    background-color: rgba(15, 20, 31, 0.15);
  }

  .page_count {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: rgb(255, 255, 255);
    margin: 0px 6px;
    font-variant-numeric: tabular-nums;
  }

  .resume__left-block {
    max-width: 1060px;
  }
  .resume__preview {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    flex: 1 1 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: column nowrap;
    background-color: rgb(122, 133, 153);
    user-select: none;
    & .viewer-content{
      //width: 655px;
      //height: 950px;
      height: 880px;
    }
  }

  .show_pdf {
    position: absolute !important;
    display: inline-block !important;
    top: -15px;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    & canvas {
      border-radius: 6px !important;
    }
  }
  .resume__viewer-canvas {
    position: relative;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    width: 536px;
    height: 755px;
  }
  .resume__viewer-canvas-hover {
    inset: 0;
    z-index: 3;
    border-radius: 6px;
    cursor: pointer;
  }
  .resume-cancel {
    cursor: pointer;
    top: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color: var(--white);
    font-size: 19px;
    background-color: rgba(15, 20, 31, 0.3);
    transition: background-color 0.1s ease 0s;
  }

  .resume__preview .viewer-content,
  .resume__preview-footer {
    width: 625px;
  }

  .resume__preview-footer {
    bottom: 0;

    height: 75px;
  }
}

.btn-add-item {
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: 8px 16px;
  width: 100%;
  border-radius: 4px;
  background-color: rgba(230, 244, 255, 0);
  color: $resume-blue;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  transition: background-color 0.15s ease 0s;

  & span {
    font-size: 18px;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: rgba(230, 244, 255, 0.5);
  }
}

@media (max-width: 1279px) {
  .resume__left-block {
    width: 100%;
    margin: 0px auto;
  }

  .resume__preview {
    display: none;
  }
}

@media (max-width: 767px) {
  .rf-padding {
    padding: 20px;
  }

  .list-section-item {
    width: 100%;
    flex: 0 0 100%;
    margin-right: 0px;
  }
}

.resume-label-control {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: rgb(152, 161, 179);
  margin-bottom: 6px;
}

/*--------------------------------------------------------------
# Resume editor end
--------------------------------------------------------------*/
