$blue: #3b8af2;
$primary: $blue;

$form-group-margin-bottom: 1.5rem;
$font-weight-normal: 500;

$btn-font-weight: $font-weight-normal;
$btn-padding-y: 10px;
$btn-padding-x: 20px;
$btn-padding-y-sm: $btn-padding-y;
$btn-padding-x-sm: $btn-padding-x;
$btn-padding-y-lg: $btn-padding-y;
$btn-padding-x-lg: $btn-padding-x;

$font-family-sans-serif: 'Open khmer school', 'Nunito', 'Roboto', 'Arial', sans-serif;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

@import "./elements/default";
@import "./elements/font";

@import "./global";
@import "./header";
@import "./banner";
@import "./custom-quill-editor";
@import "./custom-sweetalert";
