$blue: #3b8af2;
$primary: $blue;

//$form-group-margin-bottom: 1.5rem;
$font-weight-normal: 500;

$btn-font-weight: $font-weight-normal;
$btn-padding-y: 10px;
$btn-padding-x: 20px;
//$btn-padding-y-sm: $btn-padding-y;
//$btn-padding-x-sm: $btn-padding-x;
$btn-padding-y-lg: $btn-padding-y;
$btn-padding-x-lg: $btn-padding-x;

//$font-family-sans-serif: 'Lato', 'Open khmer school', 'Nunito', 'Roboto', 'Arial', sans-serif;
$font-family-sans-serif: 'Lato', 'Khmer OS Battambang', 'Kantumruy', 'Helvetica', 'Arial', sans-serif;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

@import "./elements/default";
@import "./elements/font";

@import "./global";
@import "./header";
@import "./banner";
@import "./custom-quill-editor";
@import "./custom-sweetalert";

.not-supp-mobile-screen {
  display: none;
}

@media only screen and (max-width: 767px) {
  .not-supp-mobile-screen {
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
  }

  .mobile-nav-toggle {
    display: none;
  }
}

.annotationLayer {
  opacity: 1;
  transition: opacity .5s ease 0s;
}
