// Responsive Variables
$xlmax-device: 'only screen and (min-width: 1200px) and (max-width: 1599.98px)';
$laptop-device: 'only screen and (min-width: 1200px) and (max-width: 1499px)';
$desktop-device: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$tablet-device: 'only screen and (min-width: 768px) and (max-width: 991px)';
$large-mobile: 'only screen and (max-width: 767px)';
$small-mobile: 'only screen and (max-width: 575px)';
$extra-small-mobile: 'only screen and (max-width: 479px)';

$bg-color-gray: rgb(242, 245, 250);
$bg-color-gray-hover: rgb(222, 238, 252);

$resume-blue: rgb(33, 150, 243);
$resume-red: rgb(255, 76, 76);
$resume-green: rgb(37, 184, 105);
$resume-yellow: rgb(255, 186, 25);
$resume-gray: rgb(152, 161, 179);

$resume-bg-color-gray: $bg-color-gray;
$resume-bg-color-gray-hover: $bg-color-gray-hover;


$resume-box-shadow: rgba(207, 214, 230, 0.7)
